.smetanaPopup {
    width: 500px;
    border-radius: 5px;
    padding: 15px;
    margin-right: 10px;
    position: absolute;
    display: none;
    height: 450px;
    opacity : 0;
    color: white;
    background-color: rgba(6, 3, 33, 0.95);
    transition: all .5s ease;
}